body {
  background-color: black;
  text-align: center;
  color: white;
}


#myCanvas {

  background-size: 400px;
  border-radius: 30px;
  border: 1px solid rgb(255,245,227);
}

.main{
  display: flex;
  text-align: left;
  justify-content: space-around;
}

